body{
	background-color: white;
}

.story-top{

}

.lead-img img{
	width: 100%;
	margin-left: 0px;
	margin-right: auto;	
}

.caption{

}


.story-text{

}

.otherimg img{
	width: 100%;
	margin-left: 0px;
	margin-right: auto;	
}
